<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= station.name %></title>
</head>

<body>
<h1>Mountain Legacy Project</h1>
<h2><%= station.name %> <a href="/stations/<%= station.id %>/edit">edit</a></h2>
<h3>
    <%= station.station_owner_type %> <a href="/<%= station.station_owner_type.toLowerCase() %>/<%= station.id %>/edit">edit</a>
</h3>

<table>
    <thead>
    <tr>
        <th colspan="2">Station Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Latitude</th>
        <td><%= station.lat %></td>
    </tr>
    <tr>
        <th>Longitude</th>
        <td><%= station.long %></td>
    </tr>
    <tr>
        <th>Elevation</th>
        <td><%= station.elevation %></td>
    </tr>
    <tr>
        <th>NTS Sheet</th>
        <td><%= station.nts_sheet %></td>
    </tr>
    <tr>
        <th>Created</th>
        <td><%= station.created_at %></td>
    </tr>
    <tr>
        <th>Modified</th>
        <td><%= station.updated_at %></td>
    </tr>
    </tbody>
</table>

</body>
</html>