<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', {title: content.title}); %>
</head>
<body>
<%- include('../partials/header', {content: content}); %>
<main>
    <div id="form_container"></div>
</main>
<%- include('../partials/footer', {content: content}); %>
<script>
    // build user form
    nodeBuilder.build("form_container", <%- formSchema %>);
    // initialize form validator
    window.onload = formValidator.init(<%- validatorSchema %>);
</script>
</body>
</html>