<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', {title: content.title}); %>
</head>
<body>
<%- include('../partials/header', {content: content}); %>
<%- include('../partials/editor_menu', {content: content}); %>
<main>
    <!-- edit surveyor record -->
    <div id="form_container"></div>

</main>
<%- include('../partials/footer', {content: content}); %>
<script>
    // build user edit form
    nodeBuilder.build("form_container", <%- formSchema %>);
</script>
</body>
</html>