<!DOCTYPE html>
<html>
<head>
    <%- include('../common/head', {title: content.title}); %>
</head>
<body>
<%- include('../common/header', {content: content}); %>
<main>
    <table class="records">
        <tbody>
        <tr>
            <th>Logged-in</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created</th>
        </tr>
        <% if (users.length === 0) { %>
            <td colspan="8">No users.</td>
        <% } %>
        <% for (const [key, user] of Object.entries(users)) { %>
            <tr>
                <td><!-- %= !!user.session_token % --></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><time><%= user.created_at %></time></td>
                <td><a href="/users/<%= user.user_id %>">view</a></td>
                <td>
                    <% if (user.role_id !== 5) { %>
                        <a href="/users/<%= user.user_id %>/edit">edit</a>
                    <% } %>
                </td>
                <td>
                    <% if (user.role_id !== 5) { %>
                        <a href="/users/<%= user.user_id %>/delete">delete</a>
                    <% } %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</main>
<%- include('../common/footer', {content: content}); %>
</body>
</html>

