<!DOCTYPE html>
<html>
<head>
    <%- include('../common/head', {title: content.title}); %>
</head>
<body>
<%- include('../common/header', {content: content}); %>
<main>
    <div id="form_container"></div>
</main>
<%- include('../common/footer', {content: content}); %>
<script>
    // build user form
    nodeBuilder.build("form_container", <%- content.form %>);
    // initialize form validator
    window.onload = formValidator.init(<%- content.validator %>);
</script>
</body>
</html>